body {
  background-color: rgb(218, 243, 243);
}
h1 {
   font-family: Arial;
   color: brown;
   justify-content: center;
   margin-left: 23rem;
}

h3 {
  margin-left: 4rem;
  font-family: Arial;
  line-height: 1.7rem;
}

h4 {
  font-family: Arial;
  margin-left: 4rem;
  color: brown;
}
h2 {
   margin-left: 23rem;
   line-height: 2rem;
}
span {
  color: blue;
}
.slideshow-container {
  max-width: 600px;
  margin: 0 auto;
}

.mySlides {
  display: none;
  max-width: 100%;
  height: 40%;
}

/* Add animation for the slideshow */
.mySlides {
  animation: fade 3s linear infinite;
}

@keyframes fade {
  0%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

button {
  background-color: brown;
  color: white;
  font-family: Arial;
  padding: 1rem;
  margin-left: 10rem;
}

